<form>
  <label for="x">
    <span class="letter-label">X: </span>
    <div class="form_radio_btn">
      <input id="xm2" type="radio" name="x" value="-2" [formControl]="x">
      <label for="xm2">-2</label>
    </div>
    <div class="form_radio_btn">
      <input id="xm15" type="radio" name="x" value="-1.5" [formControl]="x">
      <label for="xm15">-1.5</label>
    </div>
    <div class="form_radio_btn">
      <input id="xm1" type="radio" name="x" value="-1" [formControl]="x">
      <label for="xm1">-1</label>
    </div>
    <div class="form_radio_btn">
      <input id="xm05" type="radio" name="x" value="-0.5" [formControl]="x">
      <label for="xm05">-0.5</label>
    </div>
    <div class="form_radio_btn">
      <input id="x0" type="radio" name="x" value="0" [formControl]="x">
      <label for="x0">0</label>
    </div>
    <div class="form_radio_btn">
      <input id="x05" type="radio" name="x" value="0.5" [formControl]="x">
      <label for="x05">0.5</label>
    </div>
    <div class="form_radio_btn">
      <input id="x1" type="radio" name="x" value="1" [formControl]="x">
      <label for="x1">1</label>
    </div>
    <div class="form_radio_btn">
      <input id="x15" type="radio" name="x" value="1.5" [formControl]="x">
      <label for="x15">1.5</label>
    </div>
    <div class="form_radio_btn">
      <input id="x2" type="radio" name="x" value="2" [formControl]="x">
      <label for="x2">2</label>
    </div>
  </label>
  <br>
  <label>
    <span class="letter-label">Y: </span>
    <input type="text" name="y" placeholder="значение от -5 до 5" [formControl]="y">
  </label>
  <br>
  <label for="r">
  <span class="letter-label">R: </span>
    <div class="form_radio_btn">
      <input id="rm2" type="radio" name="r" value="-2" [formControl]="r">
      <label for="rm2">-2</label>
    </div>
    <div class="form_radio_btn">
      <input id="rm15" type="radio" name="r" value="-1.5" [formControl]="r">
      <label for="rm15">-1.5</label>
    </div>
    <div class="form_radio_btn">
      <input id="rm1" type="radio" name="r" value="-1" [formControl]="r">
      <label for="rm1">-1</label>
    </div>
    <div class="form_radio_btn">
      <input id="rm05" type="radio" name="r" value="-0.5" [formControl]="r">
      <label for="rm05">-0.5</label>
    </div>
    <div class="form_radio_btn">
      <input id="r0" type="radio" name="r" value="0" [formControl]="r">
      <label for="r0">0</label>
    </div>
    <div class="form_radio_btn">
      <input id="r05" type="radio" name="r" value="0.5" [formControl]="r">
      <label for="r05">0.5</label>
    </div>
    <div class="form_radio_btn">
      <input id="r1" type="radio" name="r" value="1" [formControl]="r">
      <label for="r1">1</label>
    </div>
    <div class="form_radio_btn">
      <input id="r15" type="radio" name="r" value="1.5" [formControl]="r">
      <label for="r15">1.5</label>
    </div>
    <div class="form_radio_btn">
      <input id="r2" type="radio" name="r" value="2" [formControl]="r">
      <label for="r2">2</label>
    </div>
  </label>
  <br>
  <button type="submit" name="submit">Проверить</button>
</form>